<!--
  Generated template for the SentinelCard component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-card>
  <p class="year">Date: {{item.year}}/{{item.month}}/{{item.day}}</p>
  <div class="placeholder" [hidden]="isLoaded">
    <ion-spinner></ion-spinner>
  </div>
  <div [hidden]="!isLoaded">
    <img class="thumbNail" [src]="item.thumbnailUri" (load)="loaded()">
  </div>
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="map"></ion-icon>
        <div (click)="preview()">Map</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="information-circle"></ion-icon>
        <div>Metadata</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="play"></ion-icon>
        <div>Analytics</div>
      </button>
    </ion-col>
    <!--<ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>-->
  </ion-row> 
</ion-card>
